/* Here is my CSS sheet for my personal CV wesbite */

/* <!important> will make certain features of a class take precedence, and 
override other aspects of the code */

/*setting colours of text */
h1{color:#3d0c11}
h2{color:#3d0c11}    
p{color:#3d0c11}
ul{color:#3d0c11;
  list-style-type: circle;
  margin: 1;
  padding: 1;
  }

/* styling lists */ 
ul.left-align {
  display: inline-block;
  text-align: left;
}

ul.no-circle {
  list-style-type: none;
  margin: 1;
  padding: 1;
}

/* changing the colour of links */
a{color:#D64B77;}
a:visited{color:rgb(124, 65, 65);}
a:hover{color:#ffd5d5;}

/* IDs for backgrounds */
#title {background-color: #ffefd5}
#intro_bg {background-color: #D6745C;}
#education_bg {background-color: #FFBC51;}
#projects_bg {background-color: #B1CC74;}
#workexp_bg {background-color: #FFBC51;}
#contact_bg {background-color: #3d0c11;}

/* class for white text */
h1.white-text {color:#ffefd5}
h2.white-text {color:#ffefd5}
/* this one doesn't work rn */
a:visited.white-text-visited{color:rgb(207, 153, 153);}

/* class for cetnering heading */
h1.center-h1 {text-align: center;}

/* defining characteristics of div to center text & bgs & make it not ugly -- be wary of this, it might 
eff things up with bootstrap */
div.main-section-container {
  /* width: 85%; */
  padding: 7%;
  margin: auto;
  /* margin-top: 2%; */
  text-align: left;
  }

/* Class for main font */
/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 300 to 800 */
.parkinsans-main-font {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* class for alternate font because i'm scared */
.bhutuka-expanded-one-regular {
  font-family: "BhuTuka Expanded One", serif;
  font-weight: 400;
  font-style: normal;
}