h1{color:rgb(0, 0, 0)}
p{color:rgb(42, 11, 0)}
table{color:blueviolet}
ul{color:brown}

#paragraph-pink {color:rgb(255, 0, 174);} 

.myFirstClass {color:green}

/* body{background-image: url("../IMG/656a628ac0f44738f58ff5a51486b774.jpg"); 
    background-attachment: fixed; 
    background-position-x: center; 
        } */

body{background-color: darksalmon}

.deco {text-decoration-line: underline;
        text-decoration-style: dotted;
        text-decoration-thickness: 5px; 
        }

.font-size-small{font-size: 0.5rem;}
.font-size-large{font-size: 3rem;} 
.bhutuka-expanded-one-regular {
    font-family: "BhuTuka Expanded One", serif;
    font-weight: 400;
    font-style: italic;
  }

  /* font style is for italics -- font-weight is for boldness, 
  and can be determined by a number (usually a multiple of 100) 
  or by simply the word "bold" */

.doto-font {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  font-variation-settings:
    "ROND" 0;
}

/* text-indent, letter-spacing, line-height, word-spacing, white-space */
/* these are some examples of features in a font class we can play with */
.doto-font2 {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "ROND" 0;
    text-indent: 100px;
    letter-spacing: 10px;
    line-height: normal;
    word-spacing: normal;
    white-space: normal;
  }

/* changing the colour of links */
/* note: I really love how this lets me change everything globally immediately
rather than needing to then go and apply it to the specific paragraphs I need */

a{color:purple;}
a:visited{color:brown;}
a:hover{color:lightcoral;}