/* Here is my CSS sheet for my personal CV wesbite */

/* <!important> will make certain features of a class take precedence, and 
override other aspects of the code */

/*setting colours of text */
h1{color:rgb(0, 0, 0)}
h2{color:rgb(0, 0, 0)}    
p{color:rgb(42, 11, 0)}
ul{color:rgb(42, 11, 0)}

/* changing the colour of links */
a{color:purple;}
a:visited{color:brown;}
a:hover{color:lightcoral;}

/* IDs for backgrounds */
#intro_bg {background-color: salmon;}
#education_bg {background-color: lightblue;}
#projects_bg {background-color: lightgreen;}
#workexp_bg {background-color: yellow;}
#contact_bg {background-color: rgb(128, 109, 83);}

/* defining characteristics of div to center text & bgs & make it not ugly */
div {
  width: 1000px;
  padding: 50px;
  margin: auto;
  margin-top: 2%;
  text-align: left;
  }

/* Class for main font */
/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 300 to 800 */
.parkinsans-main-font {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* um */
.bhutuka-expanded-one-regular {
  font-family: "BhuTuka Expanded One", serif;
  font-weight: 400;
  font-style: normal;
}